<div class="header">
    <div class="row">
      <div class="col-sm-4">
        <div class="user-column">
          <div class="user-img"><i class="fas fa-user"></i></div>
          <div class="user-name" *ngIf="!editMode">Persona <b>{{name}}</b> <i (click)="editMode = true" class="fas fa-edit"></i></div>
          <div class="user-name" *ngIf="editMode">Persona <input type="text" class="header-input" [ngClass]="{'error': nameError}" [(ngModel)]="name" (keyup.enter)="saveName()" (blur)="saveName()" /></div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="navigation">
          <ul>
            <li><i class="fas fa-save"></i> Save persona</li>
            <li><i class="fas fa-plus-square"></i> Add element</li>
            <li><i class="fas fa-share"></i> Export</li>
            <li><i class="fas fa-copy"></i> Duplicate</li>
            <li><i class="fas fa-arrow-right"></i> Move</li>
            <li><i class="fas fa-question-circle"></i> Help</li>
            <li><i class="fas fa-ellipsis-h"></i> More actions</li>
          </ul>
        </div>
      </div>
    </div>
</div>
