.header{
    width: 100%;
    height: 64px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    .user-column{
        display: flex;
        padding: 20px;
        .user-img{
            font-size: 22px;
            padding: 0 17px 0 0;
        }
        .user-name{
            font-size: 20px;
            b{
                font-weight: 700;
            }
            i{
                font-size: 16px;
                margin-left: 7px;
                color: #B1B6B6;
                cursor: pointer;
            }
            .header-input {
                font-size: 16px;
                color: #3C4646;
                outline: none;
            }
        }
    }

    .navigation{
        padding: 9px 0 0 0;
        ul{
            float: right;
            li{
                font-size: 12px;
                text-align: center;
                float: left;
                margin: 0 15px;
                cursor: pointer;
                i{
                    height: 26px;
                    display: block;
                    font-size: 22px;
                    line-height: 26px;
                }
            }
        }
    }

}
