<div class="right-panel">
    <div class="rp-head">
      <button type="button" class="close-btn"><i class="fas fa-times"></i></button>
      <h4>Add element</h4>
    </div>

    <div class="rp-content">
      <h3>Add element to persona</h3>
      <div class="info-column">
        <p>Click or drag & drop one of the element types below to add 
          it to the persona.</p>
        <p>Click on the <i class="fas fa-cog"></i> icon of each element to edit its settings.</p>
        <p>You can reorder the elements by dragging them.</p>
      </div>
      <div class="card-list">
        <div class="card" *ngIf="showShortText"
          [dndDraggable]="extraElement"
          [dndEffectAllowed]="'move'"
          (dndMoved)="onDragged('move')"
          (dndCanceled)="onDragged('none')">
          <h5 class="icon">Abc</h5> <span class="txt">Short text</span>
        </div>
        <div class="card"><p class="icon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p> <span class="txt">Long text</span></div>
        <div class="card"><i class="fas fa-image icon"></i> <span class="txt">image</span></div>
        <div class="card"><i class="fas fa-file-image-o icon"></i> <span class="txt">image gallery</span></div>
        <div class="card"><h5 class="icon">123</h5> <span class="txt">number</span></div>
      </div>
    </div>
</div>
